<!--File name: footer.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://a-2-hospital-management.herokuapp.com
 Description: This is the footer file that is used on each View -->


<!--Footer for all pages-->
<footer>
    <p>Copyright &copy; Hospital Management 2020. All rights reserved.</p>
</footer>