<!--About page content-->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">About Hospital Management</h1><br>
        <p>Welcome to our Hospital, we Providing the highest quality of care and experience for patients and their families. Proudly expanding hospitals and clinics in different provinces ensuring that each and every patients is satisfied.</p><br>
        <p>Ultimately we are here to offer the best services and care to our patients in day to day life.</p>
        <p>Now, because of COVID-19 we provide virtual care for our patients.</p>
    </div>
    <div class="w3-col l6 w3-padding-large">
        <!--Adding image-->
        <!--From-- https://pixabay.com/vectors/doctor-hospital-mask-nurse-1299996/ -->
        <img src="images/operation.png" alt="opration">
    </div>

</div>