<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Add Bootstrap-->
    <link rel='stylesheet' href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <!--NAV BAR https://getbootstrap.com/docs/4.0/components/navbar/  -->
    <nav class="navbar navbar-expand-md bg-secondary navbar-dark">
        <a class="navbar-brand" href="/">Hospital Management</a>
        <!-- Navbar content -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About <span class="sr-only">(current)</span></a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/tasks">Doctor</a>
                </li>
                {{/if}}
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link">{{user.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    {{{body}}}

    <script src="/javascripts/bootstrap.min.js"></script>
    <!--Added JQUERY-->
    <script src="/javascripts/jquery.min.js"></script>
    <!--Custom JS-->
    <script src="/javascripts/scripts.js"></script>

</body>

<!--Adding partial footer-->
{{> footer}}

</html>
