<!--File name: add.hbs
Author's name: Simranpreet Kaur (200427339)
Website name: http://localhost:3000/ and https://a-2-hospital-management.herokuapp.com
 Description: This file contain the view for adding a new information of doctor page. -->

<h1>Add a Doctor Info </h1>

<!-- Add Page Content -->
<form method="post">
    <fieldset class="form-group">
        <label class="control-label col-md-2">Doctor Name: *</label>
        <input name="name" id="name" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Specialties: *</label>
        <input name="specialties" id="specialties" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Gender: *</label>
        <input name="gender" id="gender" required />
    </fieldset>
    <fieldset class="form-group">
        <label class="control-label col-md-2">Priority: *</label>
        <select name="priority" id="priority">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </fieldset>
    <button class="col-md-offset-2 btn btn-primary">Save</button>
</form>